body {
  margin: 0px;
  width: 100vw;
}

.main-container {
  display: grid;
  grid-template-rows: 380px 540px;
  height: 100vh;
}

.upper-container,
.lower-container {
  display: grid;
  justify-content: center;
  grid-gap: 20px;
}

/* Upper Container */

.upper-container {
  background-color: #dddddd;
  grid-template-rows: 0px 60px 260px 0px;
  grid-template-columns: 0.1fr 470px 470px 0.1fr;
}

.upper-container-header,
.upper-container-left-box,
.upper-container-right-box {
  background-color: #333333;
}

.upper-container-header {
  grid-area: 2 / 2 / 3 / 4;
}

.upper-container-left-box {
  grid-area: 3 / 2 / 4 / 3;
}

.upper-container-right-box {
  grid-area: 3 / 3 / 4 / 4;
}

/* Lower Container */

.lower-container {
  background-color: white;
  grid-template-rows: 5px 60px 120px 240px 20px;
  grid-template-columns: 0.1fr 308px 308px 308px 0.1fr;
}

.lower-container-header,
.lower-container-body,
.lower-container-left-box,
.lower-container-center-box,
.lower-container-right-box {
  background-color: #999999;
}

.lower-container-header {
  grid-area: 2 / 2 / 3 / 5;
}
.lower-container-body {
  grid-area: 3 / 2 / 4 / 5;
}
.lower-container-left-box {
  grid-area: 4 / 2 / 5 / 3;
}
.lower-container-center-box {
  grid-area: 4 / 3 / 5 / 4;
}
.lower-container-right-box {
  grid-area: 4 / 4 / 5 / 5;
}

@media all and (max-width: 1005px) {
  .main-container {
    grid-template-rows: 510px 880px;
  }
  /* Upper Container */
  .upper-container {
    grid-template-rows: 0px 60px 185px 185px 0px;
    grid-template-columns: 5% 90% 5%;
  }

  .upper-container-header {
    grid-area: 2 / 2 / 3 / 3;
  }

  .upper-container-left-box {
    grid-area: 3 / 2 / 4 / 3;
  }

  .upper-container-right-box {
    grid-area: 4 / 2 / 5 / 3;
  }

  /* Lower Container */
  .lower-container {
    grid-template-rows: 5px 60px 150px 180px 180px 180px 20px;
    grid-template-columns: 5% 90% 5%;
  }
  .lower-container-header {
    grid-area: 2 / 2 / 3 / 3;
  }
  .lower-container-body {
    grid-area: 3 / 2 / 4 / 3;
  }
  .lower-container-left-box {
    grid-area: 4 / 2 / 5 / 3;
  }
  .lower-container-center-box {
    grid-area: 5 / 2 / 6 / 3;
  }
  .lower-container-right-box {
    grid-area: 6 / 2 / 7 / 3;
  }
}
