.main-container {
    display: grid;
    grid-template-rows: 380px 540px;
    height: 100vh;
    
}

.upper-container {
    display: grid;
    background-color: #DDDDDD;
    grid-template-rows: 0px 60px 260px 0px;
    grid-template-columns: 150px 470px 470px 150px;
    justify-content: center;
    grid-gap: 20px;
}

.upper-container-header {
    
    background-color: #333333;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.upper-container-left-box {
    background-color: #333333;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.upper-container-right-box {
    background-color: #333333;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}
.lower-container {
    background-color: white;
    display: grid;
    grid-template-rows: 5px 60px 120px 240px 20px;
    grid-template-columns: 150px 308px 308px 308px 150px;
    justify-content: center;
    grid-gap: 20px;
}

.lower-container-header {
    background-color: #999999;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}
.lower-container-body {
    background-color: #999999;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}
.lower-container-left-box {
    background-color: #999999;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}
.lower-container-center-box {
    background-color: #999999;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}

.lower-container-right-box {
    background-color: #999999;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}